spring:
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/testdb?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false
    username: test_user
    password: test_pw
    initialization-mode: always
  sql:
    init:
      mode: always
  data:
    web:
      pageable:
        page-parameter: pageNumber
http.clients:
  fakestore-client:
    url: https://fakestoreapi.com/products

